
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by &copy; Maulik</p>
  </div>
</div>
<script src="https://kit.fontawesome.com/f867f983a3.js" crossorigin="anonymous"></script>
</body>
</html>
